<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Git Host</th>
      <th>Repo</th>
    </tr>
  </thead>
  <tbody>
    <% @tools.each do |tool| %>
    <tr>
      <td><%= tool.name %></td>
      <td><%= tool.description %></td>
      <td><%= tool.git_host %></td>
      <td><%= tool.repo %></td>
    </tr>
    <% end %>
  </tbody>
</table>

